<dt>
	<a href={{commit.html_url}}>{{commit.sha}}</a>
	am {{commit.commit.author.date}}
	von <a href={{commit.author.html_url}}>{{commit.author.login}} ({{commit.commit.author.name}})</a>
</dt>
<dd>
	<pre>{{commit.commit.message}}</pre>
</dd>