<a class="close-reveal-modal">&#215;</a>
<h2 id="importStudentsTitle">Sch&uuml;ler importieren</h2>
<p>
    {{text-file-upload multiple=multiple class='radius' action=(action 'changeFile')}}
    {{input type='text' placeholder='Reihenfolge der Felder' value=header class='radius'}}
    {{input type='text' placeholder='Klasse' class='radius' value=klass}}
</p>
<p>
    Als Felder stehen zur Auswahl: <pre>name</pre>, <pre>klasse</pre>, <pre>abschlussjahr</pre>
    und <pre>klassenbuchstabe</pre>. Diese m&uuml;ssen entsprechend ihrer Reihenfolge,
    durch Kommata getrennt, aufgelistet werden.
</p>
<p>
    Stellen Sie zudem sicher, dass die <a href="https://de.wikipedia.org/wiki/CSV_(Dateiformat)">CSV-Datei</a>
    keine Kommata enthält, wenn sie nicht ausdrücklich als Spaltentrenner gemeint sind.
</p>
<p>
    <button class={{if filesSelected 'button success radius' 'button disabled radius'}}
        {{action 'submit'}}>
        Importieren
    </button>
</p>
