{{#unless isEditing}}
<td class="fit-content">{{input type='checkbox' checked=student.checked class='no-margin'}}</td>
<td>{{link-to student.name 'students.show' student}}</td>
<td class="student-class">{{student.klass}}</td>
<td class="text-center">
	<button {{action 'edit'}} class="button tiny secondary radius no-margin">
		<i class="fi-pencil"></i>
	</button>
	<button {{action 'destroy'}} class="button tiny alert radius no-margin">
		<i class="fi-x"></i>
	</button>
</td>
{{else}}
<td></td>
<td>{{input type='text' value=student.name class='radius no-margin'}}</td>
<td>{{input type='text' value=student.klass class='radius no-margin'}}</td>
<td class="text-center">
	<button {{action 'saveChanges'}} class="button tiny success radius no-margin">
		<i class="fi-check"></i>
	</button>
</td>
{{/unless}}
