<thead>
	<tr>
		<th></th>
		<th></th>
		{{#each books as |b|}}
		<th class="rotate">
			<div>
				<span>{{b.title}}</span>
			</div>
		</th>
		{{/each}}
		<th class="placeholder"></th>
	</tr>
</thead>
<tbody>
	{{#if studentsExtended.isPending}}
		<tr><td colspan="2">{{render 'loading'}}</td></tr>
	{{else}}
		{{#each studentsExtended.content as |st|}}
		<tr class={{if st.student.isFree 'free' (if st.student.isPartiallyFree 'partially-free' '')}}>
			<td class="buttons">
				{{#link-to 'students.lend-base' st.student.id class='button tiny radius no-margin'}}
					<i class="fi-plus"></i>
				{{/link-to}}
				{{#link-to 'students.return-base' st.student.id class='button tiny radius no-margin'}}
					<i class="fi-minus"></i>
				{{/link-to}}
			</td>
			<td>{{link-to st.student.name 'students.show' st.student.id}}</td>
			{{#each st.baseSets as |bs|}}
				<td>{{yield bs}}</td>
			{{/each}}
		</tr>
		{{/each}}
	{{/if}}
</tbody>
