<thead>
	<th class="fit-content">
		{{input type='checkbox' checked=checkAll class='no-margin'}}
	</th>
	<th>Name
		{{sorting-buttons sorting=sorting field='name' asc=(action 'sortName')
			desc=(action 'sortNameDesc')}}
	</th>
	<th width="150">Klasse
		{{sorting-buttons sorting=sorting field='klass' asc=(action 'sortKlass')
			desc=(action 'sortKlassDesc')}}
	</th>
	<th width="125">Aktionen</th>
</thead>
<tbody>
{{#each data as |s|}}
	{{yield s}}
{{else}}
	<tr><td colspan="3"><em>Kein Sch&uuml;ler vorhanden</em></td></tr>
{{/each}}
</tbody>
