<div class="row">
	<h1>Neues Buch</h1>
</div>

<div class="row">
	<div class="medium-6 medium-offset-3 columns">
		<div class="panel radius">
			<form {{action 'create' on='submit'}}>
				<div class="row">
					{{input type='text' placeholder='Titel' value=title}}
				</div>
				<div class="row">
					{{input type='text' placeholder='ISBN' value=isbn class=(if isbnValid '' 'error')}}
					{{#unless isbnValid}}
					<small class="error">Muss eine 13-stellige Zahl sein</small>
					{{/unless}}
				</div>
				<div class="row">
					{{input type='text' placeholder='Jahrgangsstufen' value=form class=(if formValid '' 'error')}}
					{{#unless formValid}}
					<small class="error">Muss eine durch Leerzeichen getrennte Liste von Zahlen sein</small>
					{{/unless}}
				</div>
				<div class="row">
					{{input type='submit' value='Erstellen' class=(if errorMessage 'button radius error' 'button radius')}}
					{{#if errorMessage}}
					<small class="error">{{errorMessage}}</small>
					{{/if}}
				</div>
			</form>
		</div>
	</div>
</div>