<div class="row">
	<h1>Alle Sch&uuml;ler</h1>
</div>

<div class="row">
	<div class="medium-10 columns">
		<button class="button tiny info radius" {{action 'reload'}}>
			<i class="fi-refresh"></i>
		</button>
		{{#link-to 'students.new' class="button tiny success radius"}}
			<i class="fi-plus"></i>
		{{/link-to}}
		<button class="button tiny success radius" {{action 'importStudents'}}>
			<i class="fi-page-csv"></i>
		</button>
		{{#if klass}}
		<button class="button tiny default radius" {{action 'exportL'}}>
			<i class="fi-page-export-csv"></i>
		</button>
		{{/if}}
		{{#x-select value=klass class='class-list radius'}}
			{{#x-option value=''}}Keine Klasse{{/x-option}}
			{{#each klasses as |k|}}
			{{#x-option value=k}}{{k}}{{/x-option}}
			{{/each}}
		{{/x-select}}
		{{#if klass}}
		{{#x-select value=style class='class-list radius'}}
			{{#x-option value='table'}}Tabelle{{/x-option}}
			{{#x-option value='list'}}Liste{{/x-option}}
		{{/x-select}}
		{{/if}}
		{{#unless isTable}}
		{{#x-select value=list class='class-list radius'}}
			{{#x-option value='old'}}Alte Liste{{/x-option}}
			{{#x-option value='new'}}Neue Liste{{/x-option}}
		{{/x-select}}
		{{/unless}}
	</div>
	<div class="medium-2 columns">
		{{input type='text' class='search-field radius' value=searchQuery placeholder='Suchen' autofocus=true}}
	</div>
</div>

<div class="row">
	<div class="medium-12 columns">
		{{#if isTable}}
		{{#student-list data=sortedData action=(action 'changeSorting') sorting=sorting as |s|}}
			{{student-entry student=s action=(action 'reload')}}
		{{/student-list}}
		{{else}}
		{{#student-table students=sortedData books=usedBooks as |l|}}
			{{input type='checkbox' class='radius disabled no-margin' checked=l}}
		{{/student-table}}
		{{/if}}
	</div>
</div>

{{#if checkedStudents}}
<div class="row">
	<div class="medium-10 medium-offset-1 columns">
		<div class="panel radius">
			<div class="row collapse postfix-radius">
				<div class="small-9 columns">
					{{input type='text' value=editClass class='no-margin' placeholder='Klasse'}}
				</div>
				<div class="small-3 columns">
					<button class="button postfix no-margin" {{action 'massEdit'}}>
						Klasse &auml;ndern
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
{{/if}}

{{import-dialog id='importStudents' klass=(unbound klass) action=(action 'saveStudent') finished=(action 'finishedImport')}}
{{export-dialog id='exportLendings' action=(action 'exportLendings')}}
