<div class="row">
	<h1>Neuer Sch&uuml;ler</h1>
</div>

<div class="row">
	<div class="medium-6 medium-offset-3 column">
		<div class="panel radius">
			<form {{action 'create' on='submit'}}>
				<div class="row">
					{{input type='text' placeholder='Name' value=name class='radius'}}
				</div>
				<div class="row">
					{{input type='text' placeholder='Abschlussjahr' value=gradYear class=(if gradYearValid 'radius' 'radius error')}}
					{{#unless gradYearValid}}
					<small class="error">Ung&uuml;ltiges Abschlussjahr (>1999)</small>
					{{/unless}}
				</div>
				<div class="row">
					{{input type='text' placeholder='Klassenbuchstabe' value=classLetter class=(if classLetterValid 'radius' 'radius error')}}
					{{#unless classLetterValid}}
					<small class="error">Ung&uuml;ltiger Klassenbuchstabe (1 Zeichen)</small>
					{{/unless}}
				</div>
				<div class="row">
					{{input type='submit' value='Erstellen' class=(if valid 'button radius' 'button radius disabled')}}
					{{#unless valid}}
					<small class="error">Ung&uuml;ltige Angaben</small>
					{{/unless}}
				</div>
			</form>
		</div>
	</div>
</div>