{{#app-canvas}}
<nav class="top-bar" data-topbar role="navigation">
	<ul class="title-area">
		<li class="name">
			<h1>
				{{#link-to 'index'}}
					<img src="assets/images/icon.png"> Obsidian Web
				{{/link-to}}
			</h1>
		</li>
		<li class="toggle-topbar menu-icon">
			<a href="#">
				<span></span>
			</a>
		</li>
	</ul>
	<section class="top-bar-section">
		<ul class="right">{{#if auth.isAuthenticated}}
			<li class="has-dropdown">
				<a href="#">Tabellen</a>
				<ul class="dropdown">
					{{#active-link}}{{link-to 'Schüler' 'students.index'}}{{/active-link}}
					{{#active-link}}{{link-to 'Lehrer' 'teachers.index'}}{{/active-link}}
					{{#active-link}}{{link-to 'Bücher' 'books.index'}}{{/active-link}}
				</ul>
			</li>
			{{#active-link}}{{link-to 'Einstellungen' 'settings'}}{{/active-link}}
			<li><a {{action 'invalidateSession'}}>Logout</a></li>
			{{else}}
			{{#active-link}}{{link-to 'Registrieren' 'register'}}{{/active-link}}
			{{#active-link}}{{link-to 'Login' 'login'}}{{/active-link}}
			{{/if}}
			{{#active-link}}{{link-to 'Hilfe' 'help'}}{{/active-link}}
		</ul>
	</section>
</nav>
{{#each flashMessages.queue as |flash|}}
{{flash-message flash=flash messageStyle='foundation' class='radius'}}
{{/each}}
{{outlet}}
<footer class="footer">
	<hr/>
	<div class="row">
		<div class="left">
			&copy; 2016 Philip Schlösser (obsidian.web@gmx.de)
		</div>
		<div class="right">
			{{link-to 'Commits' 'commits'}} &middot;
			{{link-to 'Über' 'about'}}
		</div>
	</div>
</footer>
{{/app-canvas}}
