{{#if auth.isAuthenticated}}
<div class="row">
    <div class="medium-8 medium-offset-2 columns">
        <div class="grid">
            <div class="grid-sizer"></div>
            <div class="grid-item grid-item--width2 grid-item--height2">
                {{link-to 'Schüler' 'students.index' class='button'}}
            </div>
            <div class="grid-item">
                {{link-to 'Lehrer' 'teachers.index' class='button'}}
            </div>
            <div class="grid-item grid-item--height2">
                {{link-to 'Bücher' 'books.index' class='button'}}
            </div>
            <div class="grid-item">
                {{link-to 'Einstellungen' 'settings' class='button'}}
            </div>
            <div class="grid-item">
                {{link-to 'Hilfe' 'help' class='button'}}
            </div>
        </div>
    </div>
</div>
{{else}}
<div class="row panel radius jumbotron">
<h1>Herzlich Willkommen bei Obsidian-Web</h1>
<h3><img src="assets/images/icon.png"> Jetzt {{link-to 'registrieren' 'register'}} oder {{link-to 'einloggen' 'login'}}!</h3>
</div>
{{/if}}
